h1{
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     color: rgb(247, 6, 6);
     
     
}
h3{
     color: rgba(19, 12, 1, 0.952);
      text-align: center;
}
p{
    
     color: brown;
      text-align: center;
      line-height: 30px;
}
a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color: black;
}
span{
    text-decoration: underline;
}
